.pageContentWrapper {
  grid-row: 2;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

@media (min-width: 768px) {
  .pageContentWrapper {
    min-height: 40rem;
  }
}

.comingSoon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
  min-width: 13rem;
  min-height: 13rem;
  color: white;
  border-radius: 50%;
  border-color: white;
  border-style: double;
  border-width: 0.5rem;
  background-color: rgb(132 20 51 / 84%);
  margin: -3rem 1rem 0 0;
}

@media (min-width: 768px) {
  .comingSoon {
    width: 23rem;
    height: 23rem;
    margin: 3rem 12% 0 0;
  }
}

@media (min-width: 768px) {
  .comingSoon {
    width: 23rem;
    height: 23rem;
  }
}

.text {
  font-size: 1.5rem;
  margin: 0;
}

@media (min-width: 768px) {
  .text {
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0;
  }
}

.textComingSoon {
  font-weight: 200;
  margin: 0;
}
