.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* display: flex;
  flex-wrap: wrap; */
  font-size: calc(10px + 2vmin);
}

.pageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: grid;
}
